@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:navy;
}
div#logo{
 
}
img#igreja{
 margin: -50px auto -10px auto;
 display: block;
 width: 300px;
 height: 270px;
  
}
img#templo{
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
    width: 700px;
    margin: auto;
}

nav{
    border-radius: 10px;
    margin: 10px;
    background-color: gainsboro;
    width: 900px;
    margin: 10px auto;
}
ul{
    list-style: none;
    padding: 10px;
    text-align: center;
}
ul li{
    text-align: center;
    display:inline;
    padding: 0px 30px;
}
ul li a{
    text-decoration: none;
}
ul li a:hover{
    text-decoration: underline;
    
}
main{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 900px;
    margin: auto;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;

}
h1,h3{
    margin: 5px;
    text-align: center;
    color:navy;
    
}
h1#titulo{
    text-align: center;
    color: white;
    margin-top: -10px;
}
footer{
    text-align: center;
    background-color: gainsboro;
    margin-top: 10px;
    padding: 5px;
    width: 890px;
    margin:  5px auto;
    border-radius:10px ;
}
@media (max-width:918px){
    nav{
        display: ;
        border-radius: 10px;
        margin: 5px;
        background-color: gainsboro;
        width: 700px;
        margin: 10px auto;
    }
    main{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 700px;
        margin: auto;
        background-color: gainsboro;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease ;
    
    }
    img#templo{
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
        transition: 0.8s ;
        margin: auto;
        width: 90%;
    }
    ul li{
        text-align: center;
        display:inline;
        padding: 0px 15px;
        transition: 0.8s ease;
    }
    footer{
        text-align: center;
        background-color: gainsboro;
        margin-top: 10px;
        padding: 5px;
        width: 700px;
        margin:  5px auto;
        border-radius:10px ;
    }
}
@media (max-width:700px){
    nav{
        display: ;
        border-radius: 10px;
        margin: 5px;
        background-color: gainsboro;
        width: 400px;
        margin: 10px auto;
    }
    main{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 400px;
        height: 400px;
        margin: auto;
        background-color: gainsboro;
        justify-content: center;
        align-items: center;
        transition: 0.8s ease ;
    
    }
    img#templo{
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.368);
        transition: 0.8s ;
        margin: auto;
        width: 90%;
        transition: 0.8s ease;
    }
    ul li{
        text-align: center;
        display:inline;
        padding: 0px 3px;
        transition: 0.8s ease;
    }
    footer{
        text-align: center;
        background-color: gainsboro;
        margin-top: 10px;
        padding: 5px;
        width: 400px;
        margin:  5px auto;
        border-radius:10px ;
        transition: 0.8s ease;
    
    }
    h1{
        font-size: 15pt;
    }
    h3{
        font-size: 13pt;
    }
}