@charset "utf-8";

/*Configurações gerais do corpo*/
body {
    background-color: navy;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    text-align: center;
}

/*Configurações da Logo*/
div#logo {
    height: 300px;
    margin: auto;
}
img#igreja{
    width: 350px;
}

/*Configurações do Nav*/
nav menu {
    padding: 0;
}

nav menu ul {
    border-radius: 5px;
    padding: 10px;
    background-color: gainsboro;
}

nav menu ul li {
    display: inline;
    padding: 10px;
}

nav menu ul li a {
    text-decoration: none;
}

/*Configurações do H1*/
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19pt;
    background-color: gainsboro;
    border-radius: 5px;
    color: navy
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    color: navy;
    margin-bottom:0;
}

/*Configurações do Main*/
main {
    padding: 20px;
    border-radius: 5px;
    background-color: gainsboro;
}
main#culto{
    height: 350px;
    margin: auto;
    width: 100%;
}
main ul#cultos{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    padding-left: 0;
    list-style: none;
    width: 500px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 5px;
}
main ul li.dia{
    color: navy;
    font-weight: bolder;
    text-decoration: underline;
    padding: 0px;
}
main ul li.hora{
    text-align: center;
    list-style: none;
    line-height: 25px;
}
main ul.horario{
    padding: 0;
}
main p.sobre{
    text-align: justify;
    padding: 0px 20px;
    width: 600px;
    margin: auto;
    text-indent: 30px;
    line-height: 20px;
}

main h1{
    padding: 5px 0;
    margin: 0;
    font-size: 16pt;
}
main img#templo{
    width: 450px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
}
main div#icones img.icon{
    width: 20px;
    text-align: left;
}
div#icones a{
    line-height: 35px;
    color:navy;
    text-decoration: none;
}
div#icones a:hover{
    font-weight: bolder;
    text-decoration: underline;
}


/*Configuraçoes do Footer*/
footer {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    background-color: gainsboro;
}

footer p {
    font-family: 'Times New Roman', Times, serif;
    color:navy;
    margin: 0;
}